<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>支付结果</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <style>
        .mask{position: absolute;width: 100%;height: 100%; z-index: 11;background: url(/images/mask.jpg) no-repeat center center;background-size: 100% 100%;}
    </style>
</head>
<body>

{{ $payStatus:=$.checkPurchaseResponse.PayStatus }}
{{ $payComplete :=2 }}

{{if eq $payComplete $payStatus }}
<!-- Dialog for purchase succeed -->
<div id="alert-success" class="alert alert-success mask show">
    <div class="alert-content">
        <span class="icon-ok">✔</span>
        <p class="txt">恭喜您购买成功</p>
        <p class="desc">购买信息稍后会以短信的方式发送至您的手机</p>
        <a href="" class="btn btn-primary btn-ok" id="sucessBtn">OK</a>
    </div>
</div>
{{end}}


{{if ne $payComplete $payStatus }}
<div id="alert-success" class="alert alert-success mask">
    <div class="alert-content">
        <span class="icon-ok">✔</span>
        <p class="txt">恭喜您购买成功</p>
        <p class="desc">购买信息稍后会以短信的方式发送至您的手机</p>
        <a href="" class="btn btn-primary btn-ok" id="sucessBtn">OK</a>
    </div>
</div>

<!-- Dialog for purchase succeed -->
<div id="alert-payIng" class="alert alert-success mask show">
    <div class="alert-content">
        <span class="icon-ok">✔</span>
        <p class="txt">支付状态获取中...</p>
        <a href="" class="btn btn-primary btn-ok" id="sucessBtn">返回首页</a>
        <p class="desc" id="processMsg"></p>
    </div>
</div>

{{end}}

<input id="payStatus" type="hidden" value="{{ $.checkPurchaseResponse.PayStatus }}"/>
<input id="mappingOrderNo" type="hidden" value="{{ $.checkPurchaseResponse.MappingOrderNo }}"/>
<input id="indexUrl" type="hidden" value="{{ $.checkPurchaseResponse.IndexUrl }}"/>
<!-- /Dialog for purchase succeed -->
<script src="assets/js/zepto.min.js" language="javascript"></script>
<script src="assets/js/zeptocookie.js" language="javascript"></script>
<script src="assets/js/purchanseRes.js" language="javascript"></script>
</body>
</html>